@import "../App/variables.scss";
@import "../App/animations.scss";
@import "../App/mixins.scss";

.IconsBar {
    display: flex;
    justify-content: center;
    background-color: $color-grey-light;
    padding: 1rem 0;
    &--icons-container {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    &--box {
        width: 25%;
        text-align: center;
        transition: all ease 500ms;
        padding: 1rem;

        &:hover {
            transform: translateY(-10%);
            transform: scale(1.15);
            background-color: $color-white;
            border-radius: .5rem;
            opacity: 0.8;
        }
    }

    &__h2 {
        &-1 {
            color: $color-primary-dark;
        }
        &-2 {
            color: $color-secondary-dark;
        }
        &-3 {
            color: $color-tertiary-dark;
        }
    }
}

.fa-code-branch {
    color: $color-primary-dark;
}

.fa-book {
    color: $color-secondary-dark;
}

.fa-bug {
    color: $color-tertiary-dark;
}