.Body {
    &__container {
        max-width: 75vw;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    &__paragraph {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}