// Keyframes
@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-5%);
    }

    50% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX((10%));
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// Keyframes
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba($color-black, 0.30);
    }

    100% {
        box-shadow: 0 0 0 25px rgba($color-black, 0);
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}