// Mixins
@mixin highlight($color) {
    background-image: linear-gradient(to right, transparent 50%, $color 50%);
    background-size: 200%;
    transition: background 0.4s;

    &:hover {
        background-position: -100%;
    }
}