// Color Variables
$color-primary-light: #74b9ff;
$color-primary-dark: #00B0FF;
$color-secondary-light: #81ecec;
$color-secondary-dark: #00cec9;
$color-grey-light: #DFE6E9;
$color-tertiary-dark: #D63031;
$color-tertiary-light: #FF7675;
$color-light-transparent: rgba(0, 0, 0, 0.65);
$color-dark-transparent: rgba(59, 59, 59, 0.65);
$color-white: #fff;
$color-black: #000;