@import "../App/variables.scss";
@import "../App/animations.scss";

.text-shadow {
    text-shadow: 1px 1px rgba($color-black, 0.25);
}

.Header {
    height: 70vh;
    background-image: linear-gradient(to right bottom, $color-light-transparent, $color-dark-transparent), url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

    border-bottom: 5px solid #00B0FF;

    &__heading {
        color: $color-white;
        font-weight: 300;
        margin-top: 0;
        padding: 1rem;
        letter-spacing: 1px;
        animation: moveInLeft 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
    }

    &__about-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &__subtitle {
        color: $color-white;
        font-weight: 300;
        padding: .5rem;
        text-decoration: underline;
        animation: moveInRight 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
        @include highlight($color-primary-light);
    }

    &__name {
        color: #00B0FF;
        font-weight: 400;
    }
}

.highlight-hover {
    @include highlight(#80DEEA);
}

#me {
    border-radius: 50%;
    width: 250px;
    animation-name: bounce;
    animation-duration: 1s;
    transition: all ease 500ms;

    &:hover {
        opacity: 0.75;
        transform: translate(5%, -2%);
        box-shadow: -1px 1px #00B0FF, -2px 2px #00B0FF, -3px 3px #00B0FF, -4px 4px #00B0FF, -5px 5px #00B0FF, -6px 6px #00B0FF, -7px 7px #00B0FF, -8px 8px #00B0FF;
    }
}