@import "../App/variables.scss";
@import "../App/animations.scss";
@import "../App/mixins.scss";

.text-shadow {
    text-shadow: 1px 1px rgba($color-black, 0.25);
}

.Header {
    height: 70vh;
    width: 100%;
    // background-image: linear-gradient(to right bottom, $color-light-transparent, $color-dark-transparent), url(/images/hero.jpg);
    // background-size: cover;
    // background-position: center;
    text-align: center;
    border-bottom: 5px solid #00B0FF;
    position: relative;

    &__heading {
        color: $color-white;
        font-weight: 300;
        margin-top: 0;
        padding: 1rem;
        letter-spacing: 1px;
        animation: moveInLeft 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
    }

    &__about-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &__subtitle {
        color: $color-white;
        font-weight: 300;
        padding: .5rem;
        text-decoration: underline;
        animation: moveInRight 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
        @include highlight($color-white);
        width: 80%;
        margin: 0 auto;
        transition: all .5s;

        &:hover {
            transform: translateX(1rem);
            color: $color-primary-dark;
        }
    }

    &__name {
        color: #00B0FF;
        font-weight: 400;
    }

    &__icons {
        font-size: 2em;
        margin: 1rem;
    }

    &__icons:hover {
        animation-name: rubberBand;
        animation-duration: 1s;
    }
}

#me {
    border-radius: 50%;
    width: 50%;
    animation-name: bounce;
    animation-duration: 1s;
    @include media(tab-land) {
        width: 45%;
    }
    @include media(tab-port) {
        width: 45%;
    }
    @include media(phone) {
        width: 65%;
    }
    @include media(big-desktop) {
        width: 55%;
    }
}

.hero-video {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.fa-linkedin {
    color: $color-primary-dark;

    &:hover {
        color: $color-primary-light;
    }
}

.fa-github-alt {
    color: $color-secondary-dark;

    &:hover {
        color: $color-secondary-light;
    }
}

.fa-envelope-open {
    color: $color-tertiary-dark;

    &:hover {
        color: $color-tertiary-light;
    }
}