@import "../App/variables.scss";
@import "../App/animations.scss";
@import "../App/mixins.scss";

.text-shadow {
    text-shadow: 1px 1px rgba($color-black, 0.25);
}

.Header {
    height: 70vh;
    width: 100%;
    // background-image: linear-gradient(to right bottom, $color-light-transparent, $color-dark-transparent), url(/images/hero.jpg);
    // background-size: cover;
    // background-position: center;
    text-align: center;
    border-bottom: 5px solid #00B0FF;
    position: relative;

    &__heading {
        color: $color-white;
        font-weight: 300;
        margin-top: 0;
        padding: 1rem;
        letter-spacing: 1px;
        animation: moveInLeft 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
    }

    &__about-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &__subtitle {
        color: $color-white;
        font-weight: 300;
        padding: .5rem;
        text-decoration: underline;
        animation: moveInRight 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
        @include highlight($color-primary-light);
    }

    &__name {
        color: #00B0FF;
        font-weight: 400;
    }
}

.highlight-hover {
    @include highlight(#80DEEA);
}

#me {
    border-radius: 50%;
    width: 13vw;
    animation-name: bounce;
    animation-duration: 1s;
    transition: all ease 500ms;

    &:hover {
        @include hover-effect;
    }
}

.hero-video {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}