@import "../App/variables.scss";
@import "../App/animations.scss";
@import "../App/mixins.scss";

.Icons_bar {
    display: flex;
    justify-content: center;
    background-color: $color-grey-light;

    &--icons-container {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    &--box {
        width: 25%;
        text-align: center;
        transition: all ease 500ms;

        &:hover {
            @include hover-effect;
        }
    }
}