$color-primary-light: #74b9ff;
$color-primary-dark: #0984e3;
$color-secondary-light: #81ecec;
$color-black: #000;
$color-light-transparent: rgba(0, 0, 0, 0.65);
$color-secondary-dark: #00cec9;
$color-dark-transparent: rgba(59, 59, 59, 0.65);
$color-white: #fff;
$color-black: #424242;

// Keyframes
@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    25% {
        transform: translateY(-5%);
    }

    50% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes moveInLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX((10%));
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@mixin highlight($color) {
    background-image: linear-gradient(to right, transparent 50%, $color 50%);
    background-size: 200%;
    transition: background 0.4s;

    &:hover {
        background-position: -100%;
    }
}

.text-shadow {
    text-shadow: 1px 1px rgba($color-black, 0.25);
}

.Header {
    height: 70vh;
    background-image: linear-gradient(to right bottom, $color-light-transparent, $color-dark-transparent), url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

    border-bottom: 5px solid #00B0FF;

    &-heading {
        color: $color-white;
        font-weight: 300;
        margin-top: 0;
        padding: 1rem;
        letter-spacing: 1px;
        animation: moveInLeft 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
    }

    &-about-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

    &-subtitle {
        color: $color-white;
        font-weight: 300;
        padding: .5rem;
        text-decoration: underline;
        animation: moveInRight 2s;
        animation-timing-function: ease-in-out;
        backface-visibility: hidden;
        @include highlight($color-primary-light);
    }

    &-name {
        color: #00B0FF;
        font-weight: 400;
    }
}

.highlight-hover {
    @include highlight(#80DEEA);
}

#me {
    border-radius: 50%;
    width: 250px;
    animation-name: bounce;
    animation-duration: 1s;
    transition: all ease 500ms;

    &:hover {
        opacity: 0.75;
        transform: translate(5%, -2%);
        box-shadow: -1px 1px #00B0FF, -2px 2px #00B0FF, -3px 3px #00B0FF, -4px 4px #00B0FF, -5px 5px #00B0FF, -6px 6px #00B0FF, -7px 7px #00B0FF, -8px 8px #00B0FF;
    }
}