$color-primary-light: #74b9ff;
$color-primary-dark: #0984e3;
$color-secondary-light: #81ecec;
$color-light-transparent: rgba(0, 0, 0, 0.65);
$color-secondary-dark: #00cec9;
$color-dark-transparent: rgba(59, 59, 59, 0.65);
$color-white: #fff;
$color-black: #424242;

// Keyframes
@keyframes bounce {
    0% {
        transform: translateY(0%)
    }

    50% {
        transform: translateY(-5%)
    }

    70% {
        transform: translateY(5%)
    }

    100% {
        transform: translateY(0%)
    }
}

.Header {
    height: 70vh;
    background-image: linear-gradient(to right bottom, $color-light-transparent, $color-dark-transparent), url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

#me {
    border-radius: 50%;
    width: 250px;
    animation-name: bounce;
    animation-duration: 1s;
}